body {
  margin: 0px !important;
  overflow: hidden;
  font-family: 'Spectral SC', serif;
}

#pig_dice_game {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.interface-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.players-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.2vw;
}
.players-container > div {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.players-container > div > p {
  width: 60%;
  display: flex;
  justify-content: center;
}

.bottom-control-container {
  width: 24%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10%;
  font-size: 2.2vw;
}

.upper-control-container {
  width: 24%;
  height:20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0px;
}

.btn {
  width: 100%;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  font-size: 2.2vw;
}

.player-area {
  width: 30%;
}

.active-player {
  color: green;
  font-weight: bolder;
}

.dice {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
}

.point {
  width: 30%;
  height: 30%;
  background-color: black;
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
}

.disabled-block {
  pointer-events: none;
  opacity: 0.4;
}
